.item {
    list-style: none;
    padding: unset;
    margin: unset;
    display: flex;  /* Apply flex to the list */
    flex-direction: column;
    color: rgb(208, 38, 38);
  }
  
  .items {
    padding: 14px;
    transition: all linear 0.3s;
    
  }
  
  .items:hover {
   
    cursor: pointer;
    color: #121212;
  }
  
  .dropdownmenu {
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    transition: all linear 0.3s;
    display: flex;  /* Apply flex to the list */
    flex-direction: column;
    
  }