.container {
    display: flex;
    margin-top: 30px;
  }

.Austria {
    background-image: url('/Images/Austria.jpeg');
  }
  
  .Finland{
    background-image: url('/Images/Finland.jpeg');
  }
  
  .Greece{
    background-image: url('/Images/Greece.jpeg');
  }

  .Austria,.Finland,.Greece{
    background-position: center;
    background-size:220% ;
    background-repeat: no-repeat;

    filter: saturate(10%);
    width: 190px;
    height:254px;
    border-radius: 12px;
    transition: all .3s;
  }

  .Austria:hover,.Finland:hover,.Greece:hover{
    transform: scale(0.98);
    filter: saturate(100%);
    border-radius: 20px;

  }
  
  .panel {
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 20px;
    position: relative;
  }

  .text{
    position: absolute;
    bottom: 10px;

    margin: 20px;
  }


  .wanderlust {
    text-align: center;
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: bold; /* Optionally make the text bold */
    color: #f8f1f1; /* Adjust the color as needed */
    margin-top: 250px;

  }

  .wanderlustpara{
    bottom: 10px;
    font-size: 20px;
    margin: 50px;
  }
  
  .paragraph {
    text-align: center;
    text-align: justify;
    font-size: 20px; /* Adjust the font size as needed */
    color: #9e9696; 
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 50px;
  }

  .logoContainer {
    position: absolute;
    display: flex;
    align-items: top;
    justify-content: center;
    color: #f5ebeb;
   
  }
  
  