
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logoContainer p {
  position: absolute;
  color: #c2a8a8;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: Right;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  
  .nav ul {
    display: flex;
    list-style-type: none;
    align-items: Right;
    justify-content: Right;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav.active a {
    color: #000;
  }
  
  .nav.active .container {
    padding: 10px 0;
  }
  
  .nav a.current,
  .nav a:hover {
    color: #c0392b;
    font-weight: bold;
  }

  .search {
    position: relative;
    height: 15px;
  }
  .input {
    font-size: 17px; /* Adjusted the font size of the input */
    padding: 2px; /* Adjusted the padding of the input */
  }
 
  
  .end{
    margin-left: 160px;
    display: flex;
    margin-top: -23px;
}