
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo {
  position: absolute;
  color: #c2a8a8;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* transition: all 0.3s ease-in-out; */
  }
  
  .nav .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /* transition: all 0.3s ease-in-out; */
  }
  
  .nav ul {
    display: flex;
    list-style-type: none;
    align-items: Right;
    justify-content: Right;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: bold;
    /* transition: all 0.3s ease-in-out; */
  }
  
  /* .nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  } */
  
  /* .nav.active Link {
    color: #000;
  } */
  
  /* .nav.active .container {
    padding: 10px 0;
  } */
  

  .navLink:hover {
    color: #c0392b;
    
  }

  .search {
    position: relative;
    height: 15px;
  }
  .input {
    font-size: 17px; /* Adjusted the font size of the input */
    padding: 2px; /* Adjusted the padding of the input */
  }
 
  
  .end{
    margin-left: 160px;
    display: flex;
    margin-top: -23px;
}