/* places.module.css */

.placesContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.bannerImage {
  width: 100%;
  height: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
  text-align: right; 
  
  margin: 20px 0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 2%;
}

.headingLeft {
  text-align: left;
}

.saveButton {
  background-color: black; /* Change to black background */
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-left: auto;

}
.placesContainer .actionButtonsContainer {
  display: flex;
   /* Adjust as needed */
}

/* Style for action buttons 
.placesContainer .actionButton {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
} */

/* Style for action button icons */
.placesContainer .actionButton svg {
  margin-right: 10px;
  font-size: 20px; /* Adjust the font size as needed */
  margin-right: 10px;
}



.readMoreButton {
  
 
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center; /* Align text center */
  width: auto; /* Change to auto for variable width */ 
  margin: 0 auto; 
}



.flex {
  display: flex;
}


/* Style for the Google Maps link */
.flex a {
  margin-left: 80%; /* Adjust the margin as needed */

}
  