
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .removeBtn {
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .imageCollage {
    display: flex;
    gap: 10px;
  }
  
  .imageItem {
    position: relative;
  }
  
  .imageItem img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
  }
  
  .imageItem p {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
  }
  